<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list style="background:transparent">
      <ion-item>
          <ion-label fixed><b>Email :</b></ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed><b>Password :</b></ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button [disabled]="!loginForm.valid" type="submit">Login</ion-button>
      <ion-button [routerLink]="['/register']">SignUp</ion-button>
    </ion-list>



  </form>
</ion-content>
