<ion-header>
  <ion-toolbar>
    <ion-title>
      Upload Pic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-card>
  <form [formGroup]="uploadImage" (ngSubmit)="upload()" >
    <!---->
    <ion-list style="background:transparent">
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select formControlName="type">
            <ion-select-option value="air">Air</ion-select-option>
            <ion-select-option value="water">Water</ion-select-option>
            <ion-select-option value="solid">Solid</ion-select-option>
            
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Caption</ion-label>
          <ion-input formControlName="caption" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Image</ion-label>
          <ion-button (click)="capture()">Capture Image</ion-button>
        </ion-item>
      </ion-list>
      <ion-button  [disabled]="!uploadImage.valid" type="submit"> Submit</ion-button>
  </form>
</ion-card>
</ion-content>

