<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
    <ion-card class="welcome-card" style="background-color:beige">
      <ion-img src="../../assets/clean.png"></ion-img>
      <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title><b>Recycle</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>Your recycling mission is not impossible! In fact, it is very simple:
              Don't throw away anything that can be recycled!</p>
      </ion-card-content>
      <ion-card-header>
          <ion-card-title><b>Reuse</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>You can "reuse" materials in their original form instead of throwing them away, or pass those materials on to others who could use them too! Remember, one man's trash is another man's treasure! </p>
        </ion-card-content>
        <ion-card-header>
            <ion-card-title><b>Reduce waste</b></ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>A key part of waste "reduction" is "conservation"—using natural resources wisely, and using less than usual in order avoid waste. </p>
          </ion-card-content>
      </ion-card>
    
</ion-content>
