.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.bg{
  // --background: linear-gradient(250deg,#0c71ac,#9ddbcc,#75c1f3,#64c0c7,#35b3a8);
  --background : url('../../assets/images.jpg');
  --background-size: 400%;
  --background-position: center;
 
}
