<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-label><b>My Profile</b></ion-label>
      <ion-button [routerLink]="['']">LogOut</ion-button>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content class="bg">
    <ion-card>
        <h4><b>Profile</b></h4>
        <!-- <ion-card-content> -->
            <form [formGroup]="profile">
               <ion-list style="background:transparent">
                <ion-item>
                  <ion-label><b>First Name :</b></ion-label>
                  <ion-input type="text" formControlName="fname" style="border-radius:10px" ></ion-input><br/>
                  </ion-item>
                  <ion-item>

                  <ion-label><b>Last Name :</b></ion-label>
                  <ion-input type="text" formControlName="lname"  style="border-radius:10px"> <br>
                    </ion-input>
                    </ion-item>
                    <ion-item>

                  <ion-label><b>Email :</b></ion-label>
                  <ion-input type="text" formControlName="email"  style="border-radius:10px"><br>
                    </ion-input>
                    </ion-item>
                    <ion-item>

                  <ion-label><b>Mobile No. :</b></ion-label>
                  <ion-input type="text" formControlName="mob"  style="border-radius:10px"> <br>
                    </ion-input>
                    </ion-item>
                    <ion-item>
                    <ion-label><b>Address :</b></ion-label>
                    <ion-input type="text" formControlName="address"  style="border-radius:10px"> <br>
                    </ion-input>
                    </ion-item>
                <ion-button (click)="update()">Update</ion-button>
              </ion-list>
              </form>
        <!-- </ion-card-content> -->
    </ion-card> 
    <ion-card *ngFor = "let i of images" class="welcome-card" style="background-color:beige">
      <ion-img src="{{i.image}}"></ion-img>
      <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <!-- <ion-card-title>Welcome</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <p>Type: {{i.type}}</p>
        <p>Caption: {{i.caption}}</p>
        <p>Status: {{i.status}}</p>
        
      </ion-card-content>
    </ion-card>
</ion-content>
