<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
  <ion-list style="background:transparent">

    <ion-item>
      <ion-label fixed><b>First Name :</b></ion-label>
      <ion-input type="text" formControlName="fname"  value=""></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label fixed><b>Last Name :</b></ion-label>
        <ion-input formControlName="lname"  type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed><b>Email :</b></ion-label>
          <ion-input formControlName="email"  type="text" value=""></ion-input>
        </ion-item>
        
   
    <ion-item>
        <ion-label fixed><b>Mobile Num :</b></ion-label>
          <ion-input type="text" formControlName="mob"  value=""></ion-input>
        </ion-item>
    <ion-item>
        <ion-label fixed><b>Address :</b></ion-label>
        <ion-input type="text" formControlName="address" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed><b>Password :</b></ion-label>
      <ion-input formControlName="password"  type="password"></ion-input>
    </ion-item>
    <ion-button type="submit">Register</ion-button>
    <ion-button [routerLink]="['/']">Cancel</ion-button>
  </ion-list>
</form>
</ion-content>
